.post
  h2: a(href="/posts/element-query-experiments") CSS Element Query Experiments
  p.text-muted July 15th 2013

  p.lead A serie of experiments I created using polyfills for CSS Element Queries and workarounds for the same problem.
  ul
    li: a(href="https://github.com/jorgepedret/css-element-query-experiments") Source code on Github &rarr;
    li: a(href="http://css-element-query-experiments.harpapp.io/") Demo site &rarr;

