h2 Facebook Widget

p: strong Default state
p: a(href="/img/publishing-forms/facebook/default-state.jpg")
  img.img-thumbnail(src="/img/publishing-forms/facebook/default-state.jpg")

p: strong Active state
p: a(href="/img/publishing-forms/facebook/active-state.jpg")
    img.img-thumbnail(src="/img/publishing-forms/facebook/active-state.jpg")

p: strong Media Attachments
p: a(href="/img/publishing-forms/facebook/media.gif")
  img.img-thumbnail(src="/img/publishing-forms/facebook/media.gif")

p: strong Mentions support
p: a(href="/img/publishing-forms/facebook/mention.gif")
  img.img-thumbnail(src="/img/publishing-forms/facebook/mention.gif")

p: strong Tags support
p: a(href="/img/publishing-forms/facebook/tags.jpg")
  img.img-thumbnail(src="/img/publishing-forms/facebook/tags.jpg")