h2 Google Plus Widget

p: strong Default state
p: a(href="/img/publishing-forms/gplus/default-state.jpg")
  img.img-thumbnail(src="/img/publishing-forms/gplus/default-state.jpg")

p: strong Active state
p: a(href="/img/publishing-forms/gplus/active.jpg")
  img.img-thumbnail(src="/img/publishing-forms/gplus/active.jpg")

p: strong Media Attachments
p: a(href="/img/publishing-forms/gplus/media.gif")
  img.img-thumbnail(src="/img/publishing-forms/gplus/media.gif")

p: strong Mentions support
p: a(href="/img/publishing-forms/gplus/mention.gif")
  img.img-thumbnail(src="/img/publishing-forms/gplus/mention.gif")

p: strong Tags support
p: a(href="/img/publishing-forms/gplus/tags.gif")
  img.img-thumbnail(src="/img/publishing-forms/gplus/tags.gif")