h3#linkedin LinkedIn

p: strong Default and active state
p: a(href="/img/publishing-forms/linkedin/default.jpg")
  img.img-thumbnail(src="/img/publishing-forms/linkedin/default.jpg")

p: strong Media Attachments
p: a(href="/img/publishing-forms/linkedin/media.gif")
  img.img-thumbnail(src="/img/publishing-forms/linkedin/media.gif")

p: strong Mentions support
p: a(href="/img/publishing-forms/linkedin/mention.gif")
  img.img-thumbnail(src="/img/publishing-forms/linkedin/mention.gif")