h2 Quora Widget

p: strong Default state
p: a(href="/img/publishing-forms/quora/default.jpg")
  img.img-thumbnail(src="/img/publishing-forms/quora/default.jpg")

p: strong Active state
p: a(href="/img/publishing-forms/quora/active.jpg")
  img.img-thumbnail(src="/img/publishing-forms/quora/active.jpg")

p: strong Topic support
p: a(href="/img/publishing-forms/quora/topic.jpg")
  img.img-thumbnail(src="/img/publishing-forms/quora/topic.jpg")