h2 Twitter Widget

p: strong Default state
p: a(href="/img/publishing-forms/twitter/default.jpg")
  img.img-thumbnail(src="/img/publishing-forms/twitter/default.jpg")

p: strong Active state
p: a(href="/img/publishing-forms/twitter/active.jpg")
  img.img-thumbnail(src="/img/publishing-forms/twitter/active.jpg")

p: strong Media Attachments
p: a(href="/img/publishing-forms/twitter/media.jpg")
  img.img-thumbnail(src="/img/publishing-forms/twitter/media.jpg")

p: strong Mentions support
p: a(href="/img/publishing-forms/twitter/mention.gif")
  img.img-thumbnail(src="/img/publishing-forms/twitter/mention.gif")

p: strong Tags support
p: a(href="/img/publishing-forms/twitter/tags.gif")
  img.img-thumbnail(src="/img/publishing-forms/twitter/tags.gif")