.post
  h2: a(href="/posts/why-harp") Why we built Harp?
  p.text-muted June 15th, 2013

  p Lorem ipsum Cillum dolor proident non velit irure consectetur incididunt culpa dolor magna.
  p Lorem ipsum Cillum dolor proident non velit irure consectetur incididunt culpa dolor magna. Lorem ipsum Cillum dolor proident non velit irure consectetur incididunt culpa dolor magna.