h2 About me

ul.lead
  li Live in Vancouver, Canada
  li Front-end engineer at <a href="http://chloi.io/">Chloi</a>
  li Design and code for the <a href="https://harp.io">Harp Platform</a>
  li Organizer of <a href="http://cssbrigade.com">CSS Brigade</a> meetup

hr

p.lead.likes
  spam.label coding
  spam.label drawing
  spam.label smoking pipe (tobacco)
  spam.label skateboarding
  spam.label playing guitar
  spam.label summer
  spam.label computers
  spam.label vegetarian
  spam.label food
  spam.label venezuelan
  spam.label drinking beer
  spam.label drinking coffee
  spam.label talking to people

hr