.post
  h2 Talk proposals for CSS Conf EU
  p.text-muted June 18th 2013

  hr

  h3 CSS Element Queries!

  p Media queries are wrong. They focus on the device instead of focusing on the individual components of your application. To embrace real modularity for components, we need CSS Element Queries.

  p We should pay more attention and push towards getting support for CSS Element Queries. In the mean time let me show you what you can do now and what the future holds!

  ol
    li What&rsquo;s wrong with Media Queries
    li A peek into our future
    li CSS Element Queries browser support
    li What you can do now!