footer
  ul.list-inline.pull-right
    li: a.btn(href="/") Home
    li &middot;
    li: a.btn(href="/about") About
    li &middot;
    li: a.btn(href="http://twitter.com/jorgepedret") Twitter
    li &middot;
    li: a.btn(href="https://github.com/jorgepedret") Github
    li &middot;
    li: a.btn(href="mailto:jorgepedret@gmail.com") Email